<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../Static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Amiri|Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" href="#">Bright Event App</a>
      <ul class="nav-link">
        <li class="nav-item">
          <a href="#">Logout</a>
        </li>
      </ul>
    </nav>
    <div class="card-container">
      <button  class="btn btn-primary" type="button" name="button">Add Event</button>
      <select class="btn btn-primary" name="">
        <option value="">Filter by:</option>
        <option value="Business">Business</option>
        <option value="Education">Education</option>
        <option value="Technology">Technology</option>
        <option value="Social">Social</option>
        <option value="Music">Music</option>
      </select>
      <div class="main-card">
        <div class="card-div">
          <h3 class="card-title">Talanta Event</h3>
          <h4>social</h4>
          <h5>12/56/67 </h5>
          <h6>Nairobi, Kenya</h6>
          <h6> organized by Beth </h6>
          <button  class="btn btn-warning" type="button" name="button">Edit</button>
          <button class="btn btn-danger" type="button" name="button">Delete</button>
        </div>
        <div class="card-div">
          <h3 class="card-title">Ambition Event</h3>
          <h4>Education</h4>
          <h5>12/56/56 </h5>
          <h6>Mombasa, Kenya</h6>
          <h6> organized by Tom </h6>
          <button  class="btn btn-warning" type="button" name="button">Edit</button>
          <button class="btn btn-danger" type="button" name="button">Delete</button></div>
        <div class="card-div">
          <h3 class="card-title">Marketing Event</h3>
          <h4>Business</h4>
          <h5>12/56/87 </h5>
          <h6>Kisumu, Kenya</h6>
          <h6> organized by Jerry </h6>
          <button  class="btn btn-warning" type="button" name="button">Edit</button>
          <button class="btn btn-danger" type="button" name="button">Delete</button>
        </div>

      </div>
    </div>
    <footer class='footer'>
      Copyright (c) 2017. All Rights Reserved.
      <p> created by <a href="https://github.com/betsybeth">https://github.com/betsybeth</a></p>
    </footer>
  </body>
</html>
