<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../Static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Amiri|Bangers" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" href="#">Bright Event App</a>
      <ul class="nav-link">
        <li class="nav-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="#">Logout</a>
        </li>
      </ul>
    </nav>
    <table class=" table table-hover">
      <thead>
        <th>Name</th>
        <th>Phone no</th>
        <th>Email</th>
        <th>Category</th>
        <th></th>
        <th><button  class="btn btn-primary" type="button" name="button">Add Rsvp</button></th>
      </thead>
      <tbody>
        <tr>
          <td>example person</td>
          <td>+254 70000000</td>
          <td>example@email.com</td>
          <td>Guest</td>
          <td>
            <button class="btn btn-warning" type="submit" name="button">Edit</button>
          </td>
          <td>
            <button  class="btn btn-danger" type="button" name="button">Delete</button>
          </td>

        </tr>



      </tbody>


    </table>
    <footer class='footer'>
      Copyright (c) 2017. All Rights Reserved.
      <p> created by <a href="https://github.com/betsybeth">https://github.com/betsybeth</a></p>
    </footer>
  </body>
</html>
